FORGE_HOST=0.0.0.0
FORGE_PORT=8001
FORGE_DATA_DIR=./data
FORGE_ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
FORGE_MAX_UPLOAD_MB=300
FORGE_RELOAD=false
FORGE_SESSION_DAYS=30
FORGE_ADMIN_LOGIN_IDS=AI123
FORGE_EXPORT_USER_REGISTRY=false
FORGE_SECURE_COOKIES=false
FORGE_PUBLIC_BASE_URL=http://localhost:8001
FORGE_SMTP_HOST=
FORGE_SMTP_PORT=587
FORGE_SMTP_USERNAME=
FORGE_SMTP_PASSWORD=
FORGE_SMTP_FROM=
FORGE_SMTP_USE_TLS=true
